<!-- Template Driven Form -->
<!-- 
<form #studentForm="ngForm" (ngSubmit)="RegisterStudent(studentForm)">
  <div class="form-group">
    <label for="firstName">First Name</label>
    <input id="firstName" type="text" class="form-control" name="firstName" ngModel>
  </div>

  <div>
    <label for="lastName">Last Name</label>
    <input type="text" name="lastName" id="lastName" class="form-control" ngModel>
  </div>

  <div>
    <label for="email">Email</label>
    <input type="text" name="email" id="email" class="form-control" ngModel>
  </div>

  <div>
    <label>Gender</label>
    <label>Male</label><input name="gender" value="male" type="radio" ngModel>
    <label>Female</label><input name="gender" value="female" type="radio" ngModel>
  </div>

  <div>
    <input type="submit" value="SUBMIT">
  </div>
</form>
-->


<!-- Reactive Form -->
<!--
<form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="firstName">First Name</label>
    <input id="firstName" type="text" class="form-control" name="firstName" formControlName="firstname">
  </div>

  <div>
    <label for="lastName">Last Name</label>
    <input type="text" name="lastName" id="lastName" class="form-control" formControlName="lastname">
  </div>

  <div>
    <label for="email">Email</label>
    <input type="text" name="email" id="email" class="form-control" formControlName="email">
  </div>

  <div>
    <label>Gender</label>
    <label>Male</label><input name="gender" value="male" type="radio" formControlName="gender">
    <label>Female</label><input name="gender" value="female" type="radio" formControlName="gender">
  </div>

  <div>
    <label for="isMarried">Married</label>
    <input type="checkbox" name="isMarried" formControlName="isMarried">
  </div>

  <div>
    <label for="country">country</label>
    <select id="country"  name="country" formControlName="country">
      <option value="1">India</option>
      <option value="2">USA</option>
      <option value="3">England</option>
      <option value="4">Singapore</option>
      <option value="5">UK</option>
    </select>
  </div>

  <div>
    <input type="submit" value="SUBMIT">
  </div>
</form>
-->


<!-- Reactive Form using Validations -->
<!--
<div class="container">
  <h1>Validating using Reactive Forms</h1>
  <form [formGroup]="angForm" novalidate>

    <div>
      <label>Name: </label>
      <input type="text" formControlName="name">
    </div>

    <div *ngIf="angForm.controls['name'].invalid && (angForm.controls['name'].dirty || angForm.controls['name'].touched)" class="alert alert-danger">
      <div *ngIf="angForm.controls['name'].errors?.['required']">
        Name is required!
      </div>
    </div>

    <div>
      <label>Address: </label>
      <input type="text" formControlName="address">
    </div>

    <div *ngIf="angForm.controls['address'].invalid && (angForm.controls['address'].dirty || angForm.controls['address'].touched)" class="alert alert-danger">
      <div *ngIf="angForm.controls['address'].errors?.['required']">
        Address is required!
      </div>
    </div>

    <div>
      <button type="submit" [disabled]="angForm.pristine || angForm.invalid" class="btn btn-success">save</button>
    </div>

  </form>
  <p>Form Value: {{angForm.value | json}}</p>
  <p>Form Status: {{angForm.status | json}}</p>
</div>
-->


<!-- Template Driven Form validations-->
<!--
<h1>Validation using Template Driven Form</h1>
<form #myForm="ngForm" (ngSubmit)="handleSubmit(myForm.value)">
  <div>
    <label>
      Address
      <input name="address" type="text" pattern="[A-Za-z0-9\s]{0,20}" ngModel/>
    </label>
  </div>
</form>
-->


<!-- Pipe concepts -->
<!--
<table border="1">
    <tr>
      <th>Student ID</th>
      <th>Name</th>
      <th>DOB</th>
      <th>Gender</th>
      <th>Course Fee</th>
    </tr>
    <tr *ngFor="let student of students">
      <td>{{student.ID | uppercase}}</td>
      <td>{{student.Name | titlecase}}</td>
      <td>{{student.DOB | date:'dd/MM/yyyy'}}</td>
      <td>{{student.Gender | lowercase}}</td>
      <td>{{student.CourseFee | currency:'USD':true}}</td>
    </tr>
</table>
<hr/>
<p>Date Pipe: {{today | date}}</p>
<p>Full Date: {{today | date:'fullDate'}}</p>
<p>Mediate Date: {{today | date:'medium'}}</p>
<p>Short Date: {{today| date:'short'}}</p>
<p>Date: (dd/MM/yyyy): {{today | date:'dd/MM/yyyy'}}</p>
<p>Time: {{today | date:'h:mm a z'}}</p>
<p>Medium Time: {{today|date:'mediumTime'}}</p>
<hr/>
<p>Currency USD in Symbol: {{salary|currency:'USD':true}}</p>
<p>Currency INR in Symbol: {{salary|currency:'INR':true}}</p>
<p>Currency USD in Code: {{salary|currency:'USD':false:'4.2'}}</p>
<p>Currency INR in Code: {{salary|currency:'INR':false:'11.3'}}</p>
-->


<!-- User Defined Pipes-->
<!-- Mr and Mrs tag attaching based on gender, And also calculating age based on data of birth-->
<table border="1">
  <tr>
    <th>Student ID</th>
    <th>Name</th>
    <th>DOB</th>
    <th>Age</th>
    <th>Gender</th>
    <th>Course Fee</th>
  </tr>
  <tr *ngFor="let student of students">
    <td>{{student.ID | uppercase}}</td>
    <td>{{student.Name | title:student.Gender}}</td>
    <td>{{student.DOB | date:'dd/MM/yyyy'}}</td>
    <td>{{student.DOB | age}}</td>
    <td>{{student.Gender | lowercase}}</td>
    <td>{{student.CourseFee | currency:'USD':true}}</td>
  </tr>
</table>
